/* General */
body {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center center;
}
.pokemon {
  border: 3px solid rgba(0,0,0,0);
  border-radius: 5px;
  margin:5px;
}
.pokemon > table {
  border-radius: 10px;
}
.pokemon td {
  background-color: #fff;
}
.pokemon > table > tbody > tr:first-child td {
  background-color: rgba(0,0,0,0);
}
.pokemon > table > tbody > tr:first-child td:hover {
  background-color: rgba(0,0,0,0.5);
}
.table {
  margin-bottom: 0;
}
.pokemon td {
  text-transform: capitalize;;
}
.pokemon-table tr:first-child td {
  border-top: 0;
}
.pointer {
  cursor:pointer;
}
.rpg-image {
  min-height: 115px;
}
.rpg-moves td {
  padding: 3px;
}
.rpg-moves-head {
  color: #f1f1f1;
  background-color: #3c3c3c !important;
  font-weight: 600;
}
.rpg-hp {
  font-size: 20px;
}
.rpg-settings {
  color: #f1f1f1;
  background: #222;
  padding:5px;
}
.rpg-settings select {
  color: #000;
}
.rpg-active-wrapper h2, .rpg-defender-wrapper h2 {
  width: 50%;
  color: #f1f1f1;
  margin: auto;
  padding:5px;
  border-radius: 5px;
  background: rgba(0,0,0,0.8);
  margin-bottom: 5px;
}
.rpg-active-wrapper h4, .rpg-defender-wrapper h4 {
  color: #fff;
  padding:5px;
  margin: auto;
  width: 80%;
  background: rgba(0,0,0,0.8);
}

/* Selection */
.rpg-select-wrapper h2 {
  color: #fff;
  padding: 10px;
  background-color: #21386e;
}
.rpg-select li {
  width: 23%;
}
.rpg-select li:hover {
  border: 3px solid #17e667;
}
.rpg-select img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/* Active */
.rpg-active li {
  width: 90%;
}
.rpg-active li:hover {
  border: 3px solid #17e667;
}
.rpg-active img {
  height: 300px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.rpg-active-items {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}
.rpg-active-items td {
  padding: 5px;
}
.rpg-item {
  text-transform: capitalize;
}

/* Defending */
.rpg-defender li {
  width: 90%;
}
.rpg-defender li:hover {
  border: 3px solid #ff0000;
}
.rpg-defender img {
  height: 300px;
}
.rpg-defender .rpg-moves a {
  background-color: #bd3e3e;
  border-color: #ab2020;
}
.rpg-defender .rpg-moves a:hover {
  background-color: #ab2020;
}

/* Inactive */
.rpg-inactive-wrapper {
  background-color: #202e50;
   border-radius: 5px;
   margin-bottom: 10px;
 }

.rpg-inactive-wrapper h3 {
  color: #fff;
  background-color: #3e5ca9;
  padding: 10px 0;
}
.rpg-inactive li {
  padding: 10px;
  width: 32%;
  background-color: #304371;
}
.rpg-inactive li img {
  height: 100px;
}
.rpg-inactive li:hover {
  background-color: #65749a;
}

@media screen and (max-width: 960px) {
  .rpg-active li, .rpg-defender li {
    width: 99%;
  }
}
